/* Events */

ul.tips > li {
	margin-bottom: 12pt;
}

ul#eventList {
	padding: 0;
	min-height: 310px;
}

ul#eventList > li {
	display: block;
	list-style: none;
	margin: 6pt 0pt 6pt 0pt;
	height: 74px;
	background-size: 300px 74px;
}

ul#eventList > li.spacer {
	display: block;
	list-style: none;
	margin: 12pt 0pt 12pt 0pt;
	height: auto;
}

ul#eventList > li > div {
	height: 62px;
	background-color: rgba(32, 32, 32, .75);
	padding: 8px 4px 4px 12px;
	font-size: 1.25em;
	font-weight: bold;
}

ul#eventList > li > div > span.length {
	font-size: 0.85em;
	color: #eeeeee;
}

ul#eventList > li > div > span.message {
	font-size: 0.7em;
	color: #eeeeee;
}

ul#eventList > li.de-cr { background-image: url('/img/events/de-cr.png') }
ul#eventList > li.de-ru { background-image: url('/img/events/de-ru.png') }
ul#eventList > li.de-dd { background-image: url('/img/events/de-dd.png') }
ul#eventList > li.de-qc { background-image: url('/img/events/de-qc.png') }
ul#eventList > li.de-ds { background-image: url('/img/events/de-ds.png') }
ul#eventList > li.de-aw { background-image: url('/img/events/de-aw.png') }
ul#eventList > li.de-cs { background-image: url('/img/events/de-cs.png') }

ul#eventList > li.td-c   { background-image: url('/img/events/td-c.png') }
ul#eventList > li.td-cc  { background-image: url('/img/events/td-cc.png') }
ul#eventList > li.td-rup { background-image: url('/img/events/td-rup.png') }
ul#eventList > li.td-ps  { background-image: url('/img/events/td-ps.png') }
ul#eventList > li.td-ac  { background-image: url('/img/events/td-ac.png') }

/* Resources */
.image{
  position: relative;
}
.image img{
  margin: 0px;
  width: 100%;
}
.image-overlay {
  position: absolute;
  z-index: 5;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 99%;
  background-color: rgba(231, 76, 60,.6);
  text-align: center;
  opacity:0;
  filter: alpha(opacity=0);
  -webkit-transition: all 450ms ease-out 0s;
  -moz-transition: all 450ms ease-out 0s;
  -o-transition: all 450ms ease-out 0s;
  transition: all 450ms ease-out 0s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.image:hover .image-overlay{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.image-overlay .image-link{
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
  
/* Utility */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.clear{
  clear:both;
}
.bg-fixed {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.clearfix:after { 
 content: "."; 
 visibility: hidden; 
 display: block; 
 height: 0; 
 clear: both;
}
.no-list{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.break{
  padding-bottom: 1em;
  clear: both;
}  