<h2>The best Marvel Contest of Champions alliance</h2>
<p><img src="https://i.annihil.us/u/prod/marvel/i/mg/7/00/54834ddf46f18/portrait_marvelous.jpg" width="108" height="132" alt="leeee" title="The One's Above All"  class="img-rounded floatLeft" />			
[leeee]The One's Above All is an easy-going alliance for players who want to take their game-play to the next level.</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=theoneaboveall&repo=theoneaboveall.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=theoneaboveall&repo=theoneaboveall.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/theoneaboveall" rel="me" class="social github" title="Go to github.com/theoneaboveall" target="_blank"></a></li>
	  <!-- Commented
	  <li><a href="http://www.linkedin.com/pub/theoneaboveall/a/848/1b3" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/theoneaboveall" rel="me" class="social twitter" title="Go to twitter.com/theoneaboveall" target="_blank"></a></li>
	  <li><a href="http://feeds.feedburner.com/github/xmyo" rel="me" class="social rss" title="Go to feedburner theoneaboveall rss feed" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/u/0/114561259331203581412/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li>
	  -->
	  <li><a href="https://github.com/theoneaboveall/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Eric"  target="_blank"></a></li>				
	</ul>
</p>
